<ion-view title="Contact Info" id="page7">
  <ion-content padding="true" style="background: url(img/LgIjxSi0S0uWKO5Ymgzb_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="contactInfo-list5">
      <ion-item class="item-avatar item-icon-right dark" id="contactInfo-list-item9" ui-sref="menu.contactInfo2()">
        <img src="img/gGwS7xIhRUa3lljWoFE3_imgo7.jpg">
        <h2dark>Muhammad Zahirul Iman
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="contactInfo-list-item10" ui-sref="menu.contactInfo4()">
        <img src="img/LDMB0F9SIK6y8cj6nRAJ_imgo6.jpg">
        <h2dark>Iman Nur Aina
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="contactInfo-list-item11" ui-sref="menu.contactInfo3()">
        <img src="img/OZjJREXHQJOooNSZoxUe_MicrosoftTeams-image.png">
        <h2dark>Muhammad Luqmanul Hakeem
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>