<ion-view title="Dana Reunited" id="page13">
  <ion-content padding="true" style="background: url(img/HqiXlObhT4ynSrjrDCSS_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="danaReunited-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Click the button below to direct to the official donation page:</strong>
      </p>
    </div>
    <a href-inappbrowser="anakanakmalaysia.com.my" id="danaReunited-button11" style="border-radius:10px 10px 10px 10px;" class="button button-calm button-block">Go to link</a>
    <a ui-sref="menu.mySedekah()" id="danaReunited-button16" style="font-weight:300;border-radius:10px 10px 10px 10px;" class="button button-calm button-small">Click to go home</a>
  </ion-content>
</ion-view>