<ion-view title="Donation Successful!" cache-view="false" id="page10">
  <ion-content padding="true" style="background: url(img/fKO7Vu5ySvSOhi2X1wf4_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="donationSuccessful-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#fff;font-size:20px;">
        <strong> Done! Thank you for donating! </strong>
      </p>
    </div>
    <a ui-sref="menu.mySedekah()" id="donationSuccessful-button14" style="font-weight:lighter;text-align:right;border-radius:10px 10px 10px 10px;" class="button button-positive button-small">Click to go home</a>
  </ion-content>
</ion-view>