<ion-view title="Misi Bantuan Musim Sejuk Syria" id="page12">
  <ion-content padding="true" style="background: url(img/q7dU62h8QIKZEJaKzQsL_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="misiBantuanMusimSejukSyria-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Account number:</strong>
      </p>
    </div>
    <div id="misiBantuanMusimSejukSyria-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Maybank: </strong> 5644-9041-3882</p>
    </div>
    <div id="misiBantuanMusimSejukSyria-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Bank Islam: </strong>140-140101-47470</p>
    </div>
    <div id="misiBantuanMusimSejukSyria-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Bank Muamalat: </strong>14-0100-0765-4717</p>
    </div>
    <form id="misiBantuanMusimSejukSyria-form4" class="list">
      <label class="item item-input" id="misiBantuanMusimSejukSyria-input9">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <div id="misiBantuanMusimSejukSyria-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:10px;">*put as anonymous if you want your identity hidden.</p>
      </div>
      <label class="item item-select" id="misiBantuanMusimSejukSyria-select3">
        <span class="input-label">Amount</span>
        <select>
          <option>Select one</option>
          <option>RM 5</option>
          <option>RM 10</option>
          <option>RM 15</option>
          <option>RM 20</option>
          <option>Other: (Please state)</option>
        </select>
      </label>
    </form>
    <form id="misiBantuanMusimSejukSyria-form5" class="list">
      <label class="item item-input" id="misiBantuanMusimSejukSyria-input10">
        <span class="input-label">Other amount: </span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="misiBantuanMusimSejukSyria-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:11px;">
        <strong>*Please provide the transaction receipt to +6011-53114995</strong>
      </p>
    </div>
    <a ui-sref="donationSuccessful()" id="misiBantuanMusimSejukSyria-button10" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">Donate</a>
  </ion-content>
</ion-view>