<ion-view title="MySedekah" hide-back-button="true" id="page1">
  <ion-content padding="true" style="background: url(img/ZRdGp08QpiszDbb1xnpE_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="mySedekah-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="mySedekah-slide210" style="background:url(&quot;img/qtc3cxGfSOCdgR8lJ8u2_welcome-background-with-colorful-confetti-vector-17261034.jpg&quot;) no-repeat center;background-size:cover;" class="padding"></ion-slide-page>
      <ion-slide-page id="mySedekah-slide215">
        <h3 id="mySedekah-heading3" style="color:#FFFFFF;font-weight:600;font-style:italic;text-align:center;">About us</h3>
        <h5 id="mySedekah-heading5" style="color:#FFFFFF;font-weight:400;font-style:italic;text-align:center;">Founded in November 2020. MySedekah is an app that make it easy for people to give charity to the needy people. We became captivated by the idea of how charity can make a better view of the world. With charity, we can spread the happiness and
          improve our quality of life.</h5>
      </ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div>
      <img src="img/UepmcPw4Rseh3iE1w7ht_imgo1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.tabungCovid19()" id="mySedekah-button5" style="font-weight:300;border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Donate now!</a>
    <div>
      <img src="img/6vbJc0SSRgKvdf7LRGcd_imgo2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.misiBantuanMusimSejukSyria()" id="mySedekah-button6" style="font-weight:300;border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Donate now!</a>
    <div>
      <img src="img/LzITqlwQpeTM356aawQn_imgo3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.danaReunited()" id="mySedekah-button7" style="font-weight:300;border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Donate now!</a>
    <div>
      <img src="img/rXPueNSKRRWi00eVHe3F_imgo4.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.nisaNegeriSabah()" id="mySedekah-button8" style="font-weight:300;border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Donate now!</a>
    <div>
      <a style="display:block;" ui-sref="menu.rumahAnakYatimNurulIhsan()">
        <img src="img/veJS5LB1RyK1iZrFLCuK_imgo5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="menu.rumahAnakYatimNurulIhsan()" id="mySedekah-button9" style="font-weight:300;border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Donate now!</a>
  </ion-content>
</ion-view>