<ion-view title="Nisa' Negeri Sabah" id="page14">
  <ion-content padding="true" style="background: url(img/KDpwcj18Ra2jpEhCb8Qh_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="nisaNegeriSabah-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Account number:</strong>
      </p>
    </div>
    <div id="nisaNegeriSabah-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">2213-7109-1620 (Bank Rakyat)</p>
    </div>
    <form id="nisaNegeriSabah-form9" class="list">
      <label class="item item-input" id="nisaNegeriSabah-input15">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <div id="nisaNegeriSabah-markdown29" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:10px;">*put as anonymous if you want your identity hidden.</p>
      </div>
      <label class="item item-select" id="nisaNegeriSabah-select5">
        <span class="input-label">Amount</span>
        <select>
          <option>Select one</option>
          <option>RM 5</option>
          <option>RM 10</option>
          <option>RM 15</option>
          <option>RM 20</option>
          <option>Other: (Please state)</option>
        </select>
      </label>
    </form>
    <form id="nisaNegeriSabah-form11" class="list">
      <label class="item item-input" id="nisaNegeriSabah-input16">
        <span class="input-label">Other amount: </span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="nisaNegeriSabah-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:11px;">
        <strong>*Please provide the transaction receipt to +6011-53114995</strong>
      </p>
    </div>
    <a ui-sref="donationSuccessful()" id="nisaNegeriSabah-button12" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">Donate</a>
  </ion-content>
</ion-view>