<ion-view title="Rumah Anak Yatim Nurul Ihsan" id="page15">
  <ion-content padding="true" style="background: url(img/XRQkxWWxQhWODuRjUVm9_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="rumahAnakYatimNurulIhsan-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#FFF;">
        <strong>Account number:</strong>
      </p>
    </div>
    <div id="rumahAnakYatimNurulIhsan-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#FFF;">
        <strong>Maybank: </strong> 1647-9918-0482</p>
    </div>
    <div id="rumahAnakYatimNurulIhsan-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#FFF;">
        <strong>CIMB: </strong>7054-458-292</p>
    </div>
    <div id="rumahAnakYatimNurulIhsan-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#FFF;">
        <strong>RHB: </strong>11234900171410</p>
    </div>
    <div id="rumahAnakYatimNurulIhsan-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#FFF;">
        <strong>BSN: </strong>0822829000380909</p>
    </div>
    <form id="rumahAnakYatimNurulIhsan-form12" class="list">
      <label class="item item-input" id="rumahAnakYatimNurulIhsan-input17">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <div id="rumahAnakYatimNurulIhsan-markdown34" class="show-list-numbers-and-dots">
        <p style="color:#FFF;font-size:10px;">*put as anonymous if you want your identity hidden.</p>
      </div>
      <label class="item item-select" id="rumahAnakYatimNurulIhsan-select6">
        <span class="input-label">Amount</span>
        <select>
          <option>Select one</option>
          <option>RM 5</option>
          <option>RM 10</option>
          <option>RM 15</option>
          <option>RM 20</option>
          <option>Other: (Please state)</option>
        </select>
      </label>
    </form>
    <form id="rumahAnakYatimNurulIhsan-form13" class="list">
      <label class="item item-input" id="rumahAnakYatimNurulIhsan-input18">
        <span class="input-label">Other amount: </span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="rumahAnakYatimNurulIhsan-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#fff;font-size:11px;">
        <strong>*Please provide the transaction receipt to +6011-53114995</strong>
      </p>
    </div>
    <a ui-sref="donationSuccessful()" id="rumahAnakYatimNurulIhsan-button15" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">Donate</a>
  </ion-content>
</ion-view>