<ion-view title="Tabung Covid 19" id="page9">
  <ion-content padding="true" style="background: url(img/dKkfHnOS1yzOULmqk5YQ_photo-1550147760-44c9966d6bc7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="tabungCovid19-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Account no: </strong>1601-0001138-71-4</p>
    </div>
    <div id="tabungCovid19-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">1601-0001138-71-4 (Bank Muamalat)</p>
    </div>
    <form id="tabungCovid19-form10" class="list">
      <label class="item item-input" id="tabungCovid19-input13">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <div id="tabungCovid19-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:10px;">*put as anonymous if you want your identity hidden.</p>
      </div>
      <label class="item item-select" id="tabungCovid19-select2">
        <span class="input-label">Amount</span>
        <select>
          <option>Select one</option>
          <option>RM 5</option>
          <option>RM 10</option>
          <option>RM 15</option>
          <option>RM 20</option>
          <option>Other: (Please state)</option>
        </select>
      </label>
    </form>
    <form id="tabungCovid19-form6" class="list">
      <label class="item item-input" id="tabungCovid19-input11">
        <span class="input-label">Other amount:</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="tabungCovid19-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:11px;">
        <strong>*Please provide the transaction receipt to +6011-53114995</strong>
      </p>
    </div>
    <a ui-sref="donationSuccessful()" id="tabungCovid19-button13" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">Donate</a>
  </ion-content>
</ion-view>